@import './_variables.scss';
body{
    font-family: $secondary-font;
    font-size: 16px; // sets default REM size ratio
    box-sizing: border-box;
}
.btn{
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.7) !important;
    -ms-box-shadow: 1px 1px 3px rgba(0,0,0,0.7) !important;
    -o-box-shadow: 1px 1px 3px rgba(0,0,0,0.7) !important;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.7) !important;
  }
.main-container{
    @include flex-all-center;
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
}
.window-container{
    @include flex-all-center;
    flex-direction: column;
    height: 75vh;
    width: 80vw;
    background-color: rgba(207,207,207,1);
}
.popup-btn{
    @include flex-all-center;
    margin:0;
    padding: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: $primary-red;
    color: #fff;
    @include transition-property(background,transform);
    @include transition-duration(300ms);
    @include transition-timing(ease-in-out);
    p{
        margin: 0;
        padding: 0;
    }
    &:hover{
        background-color: $secondary-red;
        transform: scale(0.98);
        color:white;
    }
}
.modal-dialog{
  border-radius: 0 !important;
  max-width:55vw !important;  
  //phones --> 90vw
  //tablets --> 80vw
  max-height: 60vh !important;
  //phones --> 100vh
  //tablets --> 80vh Landscape / 90vh Portrait

  .modal-content{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;

        .modal-header{
            border-bottom: none !important;

            .modal-title{
                font-family: $primary-font;
                font-size: 1.5rem;
                font-weight: normal;
                font-style:normal;
                color: $dark-font-color;
                line-height: 1.3em;
                text-rendering: optimizeLegibility;
                margin-left: 0.5rem;
                padding:0;
            }
            .btn-close{
                position: absolute;
                font-family: 'Average Sans', 'sans-serif';
                top: 1.5rem;
                right: 1.375rem;
                width: 0.5rem !important;
                height: 0.5rem !important;
            }
        }
        .modal-switch{ // MODAL ONE ONLY
            position:absolute;
            top: 4.5rem;
            z-index: 1;
            @include navigation-button;
            #modal-switch-txt{
                @include toggle-txt;
            }
            #modal-switch-btn{
                @include toggle-button;
            }
        }
        .basic-form{ // MODAL ONE ONLY
            width: 100%;
            height: 35vh;
            padding: 0;
            margin: 0;
            .table-container{
                display: flex;
                flex-flow: column nowrap;
                margin: 0.5rem 0 0.5rem 0.5rem;
                padding: 0.5em;
                overflow-y:auto;
                overflow-x: hidden;
                -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5) !important;
                -ms-box-shadow: 0 1px 5px rgba(0,0,0,0.5) !important;
                -o-box-shadow: 0 1px 5px rgba(0,0,0,0.5) !important;
                box-shadow: 0 1px 5px rgba(0,0,0,0.5) !important;
                border: solid 1px #cccccc;
                background-color: rgba(175, 175, 175, 0.15);
                border-radius: 0;
                height: 100%;
                width: 60%;
                flex-basis: 96%; //dunno why
            }
            .results-container{
                // the popup Container to redirect to Repco's Website
                display: none;
                
                top: 8.5rem;
                @include navigation-button;
                .results-box{
                    width: 13.45rem;
                    height: 5.5rem;
                    border-radius: 10px;
                    @include transition-property(transform, box-shadow);
                    @include transition-duration(200ms, 300ms);
                    @include transition-timing(ease-in-out);
                    #click-txt{
                        @include toggle-txt;
                        padding: 1.25em 0 0.75em 0.5em; // orrides the mixin
                    }
                    #website_nav{
                        @include toggle-button;
                    }
                }
                
            }
        }

        .modal-body{
            padding-top: 0 !important;
            margin-top: 0 !important;
            overflow-x: hidden !important;
            height: 35vh;

            &#cross-ref-body{
                display: flex;
                justify-content: space-around;
                //gap: 2rem;
                padding-left: 1.5rem;
                padding-top: 1.5rem !important;
                flex-flow: row nowrap;
            }
            .spec-selection{ // MODAL TWO ONLY
                width: 45%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                h6{
                    color: $primary-red;
                    margin-bottom: 1rem;
                    font-size: 1.1em;
                    font-weight: 600;
                }
                .spec-selectors{
                    select{
                        box-shadow: 0 2.25px 1px rgba(0,0,0,0.5) !important;
                        border-top: 0.5px solid rgba(0,0,0,0.15);
                        border-left: 0.5px solid rgba(0,0,0,0.15);;
                    }
                    #selectManufacturer{
                        margin-right: 0.6rem;
                    }
                }

            }
            .cross-ref-main-content{ // MODAL TWO ONLY
                width: 48%;
                height: 75%;
            }
        }

        .modal-footer{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            bottom: -0.15em;
            width: 100%;
            
            button{
                @include footer-button;  
            }


            // MODAL ONE ONLY

            .searchbox-ctr{
                width: 33vw;
                position: absolute;
                left: 0;
                
                + div{
                    //max-width: 60//!important;
                    // needs to change for different devices
                }
                #suggestions{
                    display: none;
                    max-height: 7.5rem;
                    width: 70%; // same width as the text box
                    padding: 0.25rem 0 0.25rem 0.25rem;
                    padding-left: 0.5rem;
                    position: absolute;
                    left: 3.5rem;
                    bottom: 2.5rem;
                    background-color: rgb(231, 229, 229);
                    border: solid #cccccc 1.25px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.5);
                    @include transition-property(transform,display);
                    @include transition-duration(300ms);
                    @include transition-timing(ease-in-out);
                    animation: fade-in 200ms ease-in-out !important;

                    #suggestions-list{
                        li{
                            margin: 0;
                            padding-left: 0.5rem;
                            margin-bottom: 0.25em;
                            list-style-type: none;
                            strong{
                                font-weight: 900;
                                color:$secondary-red; 
                                padding: 0 0.08em 0 0;
                              }
                            &:hover{
                                cursor: pointer;
                                transform: scale(1.05);
                                transform-origin: left;
                                font-weight: 800;
                                color: $secondary-red;
                            }
                        }
                    }
                }
                .insert-box{
                    letter-spacing: 0.05em;
                    outline: none;
                    border:none;
                    align-self: center !important;
                    padding-left: 1rem;
                    padding-bottom: 0.25rem;
                    font-size: 1.1em;
                    width: 0%;
                    position: relative;
                    left: 3.5rem !important;
                    transition: all 500ms cubic-bezier(0,0.110, 0.35, 2) !important;
                    opacity:0;
                    &::placeholder{
                        margin-bottom: 1rem;
                    }
                    &:focus{
                        opacity:1;
                        width: 70%;
                        border-radius: 0 !important;
                        background: transparent;
                        border-bottom: 1px solid rgba(153, 0, 0, 1);
                    }
                    &.open{
                        opacity:1 !important;
                        width:70% !important;
                        border-radius: 0 !important;
                        background: transparent;
                        border-bottom: 1px solid rgba(153, 0, 0, 1) !important;
                    }
                }
                .search-icon{
                    cursor: pointer;
                    text-align: center;
                    border: none;
                    border-radius: 50%;
                    font-size: 20px;
                    outline: none;
                    position:absolute;
                    top: -0.15rem;
                    left: 1.25rem;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-color:$primary-red;  
                    pointer-events: painted;
                    @include transition-property(transform,font-size);
                    @include transition-duration(100ms, 200ms);
                    @include transition-timing(ease-in-out);
                    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
                    i{
                        border-radius: 50%;
                        color: white;
                        width: 2rem;
                        height: 2rem;
                        text-shadow: 0 1px 0 #CCCCCC, 0 3px 0 rgba(0,0,0,0.8);
                        position: relative;
                        top: 0.1em;
                        transition-property: text-shadow;
                        transition-duration: 250ms;
                        transition-timing-function: ease-in-out;
                        &:hover{
                            text-shadow: 0 1px 0 #CCCCCC, 0 3px 0 rgba(0,0,0,0.8), 0 4px 3px rgba(0,0,0,0.8);
                        }
                    }
                    &:active{
                        transform:scale(1.05);
                    }
                }
            }
            &.footer-btn-group{
                display: flex;
                flex-flow: row nowrap;
                padding:0;
                margin: 0;
            }
        }
    }
}
