@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Fjalla+One&display=swap");
/****************** MEDIA QUERUES ******************/
body {
  font-family: "Average Sans", "sans-serif";
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select {
  border-radius: 10px;
  border: solid 0.5px black;
}

.btn {
  -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) !important;
  -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) !important;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) !important;
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) !important;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
}

.window-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75vh;
  width: 80vw;
  background-color: #cfcfcf;
}

.popup-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #990000;
  color: #fff;
  -webkit-transition-property: background, transform;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.popup-btn p {
  margin: 0;
  padding: 0;
}

.popup-btn:hover {
  background-color: #740000;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  color: white;
}

.modal-dialog {
  border-radius: 0 !important;
  max-width: 50rem !important;
  -webkit-transition-property: max-width;
  transition-property: max-width;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  max-height: 32.125rem !important;
}

@media screen and (min-width: 1441px) {
  .modal-dialog {
    max-width: 55rem !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 926px) {
  .modal-dialog {
    max-width: 95vw !important;
  }
}

.modal-dialog .modal-content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.modal-dialog .modal-content .modal-header {
  border-bottom: none !important;
}

.modal-dialog .modal-content .modal-header u {
  position: relative;
  top: -0.25rem;
  color: #990000;
  font-family: "Average Sans", "sans-serif";
  font-weight: 500;
  font-size: 0.75em;
  margin-left: 0.15rem;
}

.modal-dialog .modal-content .modal-header .modal-title {
  font-family: "Fjalla One", "sans-serif";
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  color: #333333;
  line-height: 1.3em;
  text-rendering: optimizeLegibility;
  margin-left: 0.5rem;
  padding: 0;
}

.modal-dialog .modal-content .modal-header .btn-close {
  position: absolute;
  font-family: 'Average Sans', 'sans-serif';
  top: 1.5rem;
  right: 1.375rem;
  width: 0.5rem !important;
  height: 0.5rem !important;
}

.modal-dialog .modal-content .basic-form {
  width: 100%;
  height: 24rem;
  padding: 0;
  margin: 0;
}

.modal-dialog .modal-content .basic-form .modal-body {
  overflow: hidden !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.modal-dialog .modal-content .basic-form .content {
  width: 65%;
}

.modal-dialog .modal-content .basic-form .table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0.5em;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !important;
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !important;
  border: solid 1px #cccccc;
  background-color: rgba(175, 175, 175, 0.15);
  border-radius: 0;
  height: 18rem;
  width: 25rem;
  -ms-flex-preferred-size: 96%;
      flex-basis: 96%;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

@media screen and (min-width: 1441px) {
  .modal-dialog .modal-content .basic-form .table-container {
    width: 30rem;
  }
}

@media screen and (max-width: 750px) {
  .modal-dialog .modal-content .basic-form .table-container {
    width: 20rem;
  }
}

.modal-dialog .modal-content .basic-form .toggles {
  width: 35%;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.modal-dialog .modal-content .basic-form .toggles .modal-switch {
  z-index: 1;
  width: 13.45rem;
  height: 5.5rem;
  padding: 0 1em 0 1em;
  border-radius: 10px;
  background-color: #990000;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
  -webkit-transition-property: transform, box-shadow, width, right;
  -webkit-transition-property: width, right, -webkit-transform, -webkit-box-shadow;
  transition-property: width, right, -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow, width, right;
  transition-property: transform, box-shadow, width, right, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 200ms, 300ms, 200ms, 200ms;
  transition-duration: 200ms, 300ms, 200ms, 200ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

@media screen and (max-width: 800px) {
  .modal-dialog .modal-content .basic-form .toggles .modal-switch {
    width: 12.25rem;
  }
}

.modal-dialog .modal-content .basic-form .toggles .modal-switch:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0, 0, 0, 0) !important;
          box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0, 0, 0, 0) !important;
}

.modal-dialog .modal-content .basic-form .toggles .modal-switch .box {
  width: 100%;
  height: 25rem;
  border-radius: 10px;
  position: relative;
  -webkit-transition-property: transform, box-shadow;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 200ms, 300ms;
  transition-duration: 200ms, 300ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.modal-dialog .modal-content .basic-form .toggles .modal-switch .box #modal-switch-txt {
  width: 5em;
  height: 100%;
  font-size: 1.1rem !important;
  padding: 0.5em 0 0.5em 0.5em;
  letter-spacing: 0.05em;
  text-shadow: #474747 2px 2px 1px !important;
  color: #fff;
}

.modal-dialog .modal-content .basic-form .toggles .modal-switch .box #modal-switch-btn {
  position: absolute;
  top: 0.5em;
  right: 0;
  height: 1.75em !important;
  width: 1.75em !important;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin: 0 0.5rem 0 0.5rem !important;
  padding: 0.35em 0.25em 0.25em 0.25em !important;
  text-shadow: 1.3px 2px 2px rgba(59, 62, 95, 0.8), 1.5px 2px 8px rgba(153, 0, 0, 0.623);
  -webkit-transition-property: background-color, box-shadow, transform, right;
  -webkit-transition-property: background-color, right, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, right, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, box-shadow, transform, right;
  transition-property: background-color, box-shadow, transform, right, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 200ms, 200ms, 200ms, 500ms;
  transition-duration: 200ms, 200ms, 200ms, 500ms;
  -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in;
  transition-timing-function: ease-in-out, ease-in-out, ease-in;
  /*@media screen and (max-width: 1200px){
        right:0.25rem;
    }*/
}

.modal-dialog .modal-content .basic-form .toggles .modal-switch .box #modal-switch-btn:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: rgba(190, 188, 188, 0.25);
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.225);
          box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.225);
  cursor: pointer !important;
}

.modal-dialog .modal-content .basic-form .toggles .modal-switch .box #modal-switch-btn:active {
  background-color: transparent;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.modal-dialog .modal-content .basic-form .toggles .results-container {
  width: 13.45rem;
  height: 5.5rem;
  padding: 0 1em 0 1em;
  border-radius: 10px;
  background-color: #990000;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
  -webkit-transition-property: transform, box-shadow, width, right;
  -webkit-transition-property: width, right, -webkit-transform, -webkit-box-shadow;
  transition-property: width, right, -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow, width, right;
  transition-property: transform, box-shadow, width, right, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 200ms, 300ms, 200ms, 200ms;
  transition-duration: 200ms, 300ms, 200ms, 200ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin-right: 0 !important;
}

@media screen and (max-width: 800px) {
  .modal-dialog .modal-content .basic-form .toggles .results-container {
    width: 12.25rem;
  }
}

.modal-dialog .modal-content .basic-form .toggles .results-container:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0, 0, 0, 0) !important;
          box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0, 0, 0, 0) !important;
}

.modal-dialog .modal-content .basic-form .toggles .results-container .results-box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  -webkit-transition-property: transform, box-shadow;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 200ms, 300ms;
  transition-duration: 200ms, 300ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.modal-dialog .modal-content .basic-form .toggles .results-container .results-box #click-txt {
  width: 5em;
  height: 100%;
  font-size: 1.1rem !important;
  padding: 0.5em 0 0.5em 0.5em;
  letter-spacing: 0.05em;
  text-shadow: #474747 2px 2px 1px !important;
  color: #fff;
  padding: 1.25em 0 0.75em 0.5em;
}

.modal-dialog .modal-content .basic-form .toggles .results-container .results-box #website_nav {
  position: absolute;
  top: 0.5em;
  right: 0;
  height: 1.75em !important;
  width: 1.75em !important;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin: 0 0.5rem 0 0.5rem !important;
  padding: 0.35em 0.25em 0.25em 0.25em !important;
  text-shadow: 1.3px 2px 2px rgba(59, 62, 95, 0.8), 1.5px 2px 8px rgba(153, 0, 0, 0.623);
  -webkit-transition-property: background-color, box-shadow, transform, right;
  -webkit-transition-property: background-color, right, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, right, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, box-shadow, transform, right;
  transition-property: background-color, box-shadow, transform, right, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 200ms, 200ms, 200ms, 500ms;
  transition-duration: 200ms, 200ms, 200ms, 500ms;
  -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in;
  transition-timing-function: ease-in-out, ease-in-out, ease-in;
  /*@media screen and (max-width: 1200px){
        right:0.25rem;
    }*/
}

.modal-dialog .modal-content .basic-form .toggles .results-container .results-box #website_nav:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: rgba(190, 188, 188, 0.25);
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.225);
          box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.225);
  cursor: pointer !important;
}

.modal-dialog .modal-content .basic-form .toggles .results-container .results-box #website_nav:active {
  background-color: transparent;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.modal-dialog .modal-content .modal-body {
  margin-left: 1rem;
  margin-right: 1rem;
  overflow-x: hidden !important;
  height: 22rem;
}

.modal-dialog .modal-content .modal-body#data-sheet-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-dialog .modal-content .modal-body iframe {
  position: absolute;
  width: 46.25rem;
  height: 19rem;
  border: 0.5px solid #2b2b2b;
  -webkit-box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.modal-dialog .modal-content .modal-body iframe.expand {
  width: 100vw;
  height: 100vh;
}

.modal-dialog .modal-content .modal-body#cross-ref-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1.5rem;
  padding-top: 1.25rem !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.modal-dialog .modal-content .modal-body .spec-selection {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-dialog .modal-content .modal-body .spec-selection h6 {
  color: #990000;
  margin-bottom: 1rem;
  font-size: 1.1em;
  font-weight: 900;
}

.modal-dialog .modal-content .modal-body .spec-selection .spec-selectors select {
  -webkit-box-shadow: 0 2.25px 1px rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0 2.25px 1px rgba(0, 0, 0, 0.5) !important;
  border-top: 0.5px solid rgba(0, 0, 0, 0.15);
  border-left: 0.5px solid rgba(0, 0, 0, 0.15);
}

.modal-dialog .modal-content .modal-body .spec-selection .spec-selectors #selectManufacturer {
  margin-right: 0.6rem;
}

.modal-dialog .modal-content .modal-body .spec-selection .spec-selectors #selectSeries {
  width: 8.375rem;
}

.modal-dialog .modal-content .modal-body .spec-selection .spec-selectors .dd-ctr {
  width: 100%;
  height: 13rem;
  overflow: hidden;
  overflow-y: auto;
  margin: 2rem 0;
}

.modal-dialog .modal-content .modal-body .spec-selection .spec-selectors .dd-ctr #remaining-dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.modal-dialog .modal-content .modal-body .spec-selection .spec-selectors .dd-ctr #remaining-dropdowns .dropdown-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 1rem;
}

.modal-dialog .modal-content .modal-body .spec-selection .spec-selectors .dd-ctr #remaining-dropdowns .dropdown-area label {
  margin-bottom: 0.25rem;
  width: 100%;
  font-size: 1.1em;
}

.modal-dialog .modal-content .modal-body .spec-selection .spec-selectors .dd-ctr #remaining-dropdowns .dropdown-area select {
  width: 92%;
  height: 2rem;
}

.modal-dialog .modal-content .modal-body .spec-selection .spec-selectors .dd-ctr #remaining-dropdowns .dropdown-area select option {
  vertical-align: middle;
  text-align: center;
}

.modal-dialog .modal-content .modal-body .cross-ref-main-content {
  width: 48%;
  height: 75%;
  padding-top: 0.15rem;
}

.modal-dialog .modal-content .modal-body .cross-ref-main-content .dropdown-nav-results {
  height: 19rem;
  -webkit-box-shadow: 1.5px 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 1.5px 2px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.modal-dialog .modal-content .modal-body .cross-ref-main-content .dropdown-nav-results .card-header {
  background: #990000;
}

.modal-dialog .modal-content .modal-body .cross-ref-main-content .dropdown-nav-results .card-header h6 {
  color: #fff;
  font-family: "Fjalla One", "sans-serif";
  font-size: 1.25em;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 0;
  margin: auto 0;
}

.modal-dialog .modal-content .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: -0.15em;
  width: 100%;
}

.modal-dialog .modal-content .modal-footer#data-sheet-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-dialog .modal-content .modal-footer#data-sheet-footer #close-data-sheet {
  margin-left: 0.75rem;
}

.modal-dialog .modal-content .modal-footer#data-sheet-footer #data-sheet-footer-toggles {
  margin-right: 1rem;
}

.modal-dialog .modal-content .modal-footer#data-sheet-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  font-size: 1.1em;
}

.modal-dialog .modal-content .modal-footer#data-sheet-footer div > i {
  text-align: center;
  background: #990000;
  color: #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 1em;
  width: 1.5em;
  margin-left: 1em;
}

.modal-dialog .modal-content .modal-footer button {
  color: #fff !important;
  border-color: #212529;
  background-color: #212529;
  -webkit-transition-property: background-color, border-color, transform, box-shadow;
  -webkit-transition-property: background-color, border-color, -webkit-transform, -webkit-box-shadow;
  transition-property: background-color, border-color, -webkit-transform, -webkit-box-shadow;
  transition-property: background-color, border-color, transform, box-shadow;
  transition-property: background-color, border-color, transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 200ms, 200ms, 100ms, 100ms;
  transition-duration: 200ms, 200ms, 100ms, 100ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.modal-dialog .modal-content .modal-footer button:hover {
  background-color: #990000;
  border-color: #990000;
  -ms-box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.7), -0.25px 0 0px #000001 !important;
  -o-box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.7), -0.25px 0 0px #000001 !important;
  -webkit-box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.7), -0.25px 0 0px #000001 !important;
          box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.7), -0.25px 0 0px #000001 !important;
}

.modal-dialog .modal-content .modal-footer button:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr {
  width: 33vw;
  position: absolute;
  left: 0;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr #suggestions {
  display: none;
  max-height: 7.5rem;
  width: 70%;
  padding: 0.25rem 0 0.25rem 0.25rem;
  padding-left: 0.5rem;
  position: absolute;
  left: 3.5rem;
  bottom: 2.5rem;
  background-color: #e7e5e5;
  border: solid #cccccc 1.25px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition-property: transform, display;
  -webkit-transition-property: display, -webkit-transform;
  transition-property: display, -webkit-transform;
  transition-property: transform, display;
  transition-property: transform, display, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-animation: fade-in 200ms ease-in-out !important;
          animation: fade-in 200ms ease-in-out !important;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr #suggestions #suggestions-list li {
  margin: 0;
  padding-left: 0.5rem;
  margin-bottom: 0.25em;
  list-style-type: none;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr #suggestions #suggestions-list li strong {
  font-weight: 900;
  color: #740000;
  padding: 0 0.08em 0 0;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr #suggestions #suggestions-list li:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform-origin: left;
          transform-origin: left;
  font-weight: 800;
  color: #740000;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box {
  letter-spacing: 0.05em;
  outline: none;
  border: none;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  padding-left: 1rem;
  padding-bottom: 0.25rem;
  font-size: 1.1em;
  width: 0%;
  position: relative;
  left: 3.5rem !important;
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2) !important;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2) !important;
  opacity: 0;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box::-webkit-input-placeholder {
  margin-bottom: 1rem;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box:-ms-input-placeholder {
  margin-bottom: 1rem;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box::-ms-input-placeholder {
  margin-bottom: 1rem;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box::placeholder {
  margin-bottom: 1rem;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box:focus {
  opacity: 1;
  width: 70%;
  border-radius: 0 !important;
  background: transparent;
  border-bottom: 1px solid #990000;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box.open {
  opacity: 1 !important;
  width: 70% !important;
  border-radius: 0 !important;
  background: transparent;
  border-bottom: 1px solid #990000 !important;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .search-icon {
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  outline: none;
  position: absolute;
  top: -0.15rem;
  left: 1.25rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #990000;
  pointer-events: painted;
  -webkit-transition-property: transform, font-size;
  -webkit-transition-property: font-size, -webkit-transform;
  transition-property: font-size, -webkit-transform;
  transition-property: transform, font-size;
  transition-property: transform, font-size, -webkit-transform;
  -webkit-transition-duration: 100ms, 200ms;
  transition-duration: 100ms, 200ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .search-icon i {
  border-radius: 50%;
  color: white;
  width: 2rem;
  height: 2rem;
  text-shadow: 0 1px 0 #CCCCCC, 0 3px 0 rgba(0, 0, 0, 0.8);
  position: relative;
  top: 0.1em;
  -webkit-transition-property: text-shadow;
  transition-property: text-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .search-icon i:hover {
  text-shadow: 0 1px 0 #CCCCCC, 0 3px 0 rgba(0, 0, 0, 0.8), 0 4px 3px rgba(0, 0, 0, 0.8);
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .search-icon:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal-dialog .modal-content .modal-footer.footer-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */