
  /* ================================================================
    Small Screens (Desktop)  -->  [321px < n > 579px]
   ================================================================ */

  @media screen and (min-width: 20.063em) and (max-width: 36.188em){ 


    #arrow, #arrow + span{
        -webkit-display: none;
        -moz-display: none;
        -ms-display: none;
        -o-display: none;
        display: none;
    }
     /* ================================================================
                         [321px < n > 475px]
      ================================================================ */
      @media screen and (min-width:20.063em) and (max-width:29.6875em){
        .modal-body{
          height: 24em !important;
        }
        .table-container{
            height:11.25em;
            padding: 0.75em;
        }
        .table-row > .table-item-header, .table-item{
          -o-flex-basis: 100% !important;
          -moz-flex-basis: 100% !important;
          -ms-flex-basis: 100% !important;
          flex-basis: 100% !important;
        }
        .table-row > .table-item-header{
            font-size: 0.8em;
        }
        .table-row:first:child{
            vertical-align: center;
        }
        .table-row > .table-item{
            padding-left: 0.5em;
        }
        .table-row:first-child > .table-item-header, 
        .table-row:first-child > .table-item{
            font-size: 1em;
            padding-left: 0;
        }
        .table-row:first-child > .table-item-header{
            margin-bottom: 0.25em;
        }
        .table-row:first-child > .table-item{
            margin-bottom: 0.75em;
        }
        .table-row{
            margin-bottom: 0.6em;
        }
      .modal-switch{
        background:rgba(175, 175, 175, 0.15) !important;
        position:absolute;
        margin: auto;
        top: 40.5%;
        right: 50%;
        width: 6em !important;
        height: 4em !important;
        border-radius: 10% 10% 35% 35% !important;
        box-shadow: 1px 1.75px 3px 0 rgba(17, 17, 17,0.65),
                    -1px 1.75px 3px 0 rgba(17, 17, 17,0.65),
                    0 -0.5px 2px rgba(17,17,17,0.65) !important;
      }
      #modal-switch-txt{
        position: relative;
        top: -0.3em;
        left: -0.75em;
        width: 5em !important;
        color: black !important;
        text-align: center;
        font-size: 16px !important;
      }
      #modal-switch-btn, #website_nav{
        background: #990000 !important;
        z-index: 999;
        display: block;
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
        width: 1.75em !important;
        height: 1.75em !important;
        border:rgba(0,0,0,1) solid 1px;
        border-radius: 0px !important;
        transition-property: box-shadow, text-shadow, transform;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
        
      }
      #modal-switch-btn::before, #website_nav::before{
        display: block;
        position: absolute;
        content: "";
        width:9px;
        height:102.5%;
        left: -10.1px;
        top: 4.5px;
        border:rgba(0,0,0, 1) solid 1px;
        border-right: none;
        background:rgba(115,0,0, 0.9);
        box-shadow: -1px -1px 3px rgba(0,0,0,0.5),
        1px 1px 5px rgba(0,0,0,0.5) !important;
        transform: rotate(0deg) skewY(-45deg);
      }
      #modal-switch-btn::after, #website_nav::after{
        display: block;
        position:absolute;
        content: "";
        width: 104%;
        height: 8px;
        left:-5.2px;
        top: 43.22px;
        border:rgba(0,0,0,1) solid 1px;
        border-top: none;
        border-left: none;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.5) !important;
        transform: rotate(0deg) skewX(-45deg); 
        background: rgba(115,0,0,0.9);
        transform: rotate(45deg) scew(-45deg);
      }
      #website_nav::before{
        left: -10.05px !important;
      }
      #website_nav::after{
        height:9px !important;
        top: 43px !important;
        left: -5.2px !important;
      }

      #modal-switch-btn:hover, #website_nav:hover{
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(15px, -15px) scale(1.05);
        box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
        text-shadow:1px 1px 1px rgba(0,0,0,1),
                    -1px -1px 1px rgba(0,0,0, 1) !important;
      }
      #modal-switch-btn:active, #website_nav:active{
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(10px, -10px) scale(0.98) ;
      }
      #modal-switch-btn{
        position: relative;
        top: 3.25em;
        left: -3.15em;
      }
      .results-container{
        position: relative;
        top: 0.55%;
        left: 57%;
      }
      .results-box{
        background:rgba(175, 175, 175, 0.15) !important;
        position:relative;
        width: 6em !important;
        height: 4em !important;
        border-radius: 10% 10% 35% 35% !important;
        box-shadow: 1px 1.75px 3px 0 rgba(17, 17, 17,0.65),
                    -1px 1.75px 3px 0 rgba(17, 17, 17,0.65),
                    0 -0.5px 2px rgba(17,17,17,0.65) !important;
      }
      #click-txt{
        position: relative;
        color: black !important;
        top: -0.15em;
        left: -0.2em;
        width: 5em !important;
        text-align: center;
        font-size: 15px !important;
      }
      #website_nav{
        position: absolute;
        top: 3.3em !important;
        left: 0.75em !important;
      }
      .modal-footer{
          border: none;
      }
      
    /*==============================================
                        Second Modal
      ==============================================*/
    
      /* ================================================================
                         [321px < n > 424px]
      ================================================================ */
      @media screen and (min-width:20.063em) and (max-width:26.5em){
        .cross-ref-main-content{
            -moz-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
            -o-flex-flow: row wrap;
            flex-flow: row wrap;
        }
        .cross-ref-header{
            font-size: 1em;
        }
        .spec-selection{
            position: relative;
            top: 12.5em;
            z-index: 999;
        }
        .dropdown-button-man{
            position: relative;
            text-align: left;
            bottom: 0.6em;
            left: 7.8em;
        }
        #selectSeries{
            position: relative;
            bottom:-1.3em;
            right: 0;
            text-align: left;
        }

        .dropdown-nav-container{
            -o-flex-basis: 100%;
            -moz-flex-basis: 100%;
            -ms-flex-basis: 100%;
            flex-basis: 100%;
            position:relative;
            top: 12em;
            max-height: 6.5em;
            
        }
        .dropdown-nav-results{
            -o-flex-basis: 100%;
            -moz-flex-basis: 100%;
            -ms-flex-basis: 100%;
            flex-basis: 100%;
            position: relative;
            top: -13em;
            margin: 0;
            height: 12em !important;
        }
        .dropdown-area{
            max-width: 22em;
        }
        .dropdown-area + select{
            text-align: center !important;
        }
        .dropdown-label + select{
            margin-left: 0.5em;
        }
        .dropdown-button{
            border: rgba(223, 223, 223, 0.8) solid 1.25px !important;
        }
        .dropdown-button:hover,.dropdown-button-man:hover{
            font-weight:600;
        }
        #matched_nums{
            position: relative;
            overflow-y:auto;
            overflow-x:hidden;
            top:0.1em;
            max-height: 7.5em;
            width: 150%;
            text-align: center;
            margin: auto;
        }
        #matched_nums li:hover{
            transform-origin:center !important;
        }
        .dropdown-results-body{
            overflow-x:auto;
            overflow-y:hidden;
        }
        #arrow, #arrow + span{
        -webkit-display: none;
        -moz-display: none;
        -ms-display: none;
        -o-display: none;
        display: none;
    }
    }   
  }
        /* =================================================================
        Width's of: 321px < n < 450
      ================================================================*/
      @media screen and (min-width: 20.063em) and (max-width: 28.125em){
        .table-row > .table-item-header{
          -moz-flex-basis: 100% !important;
          -ms-flex-basis: 100% !important;
          -o-flex-basis: 100% !important;
          flex-basis: 100% !important;
          margin-right: 0 !important;
          padding-right: 0 !important;
        }
      }
  }
  




  
/* ================================================================
    Medium Screens (Desktop)  -->  [580 < n > 959px]
   ================================================================ */
  @media screen and (min-width: 36.25em) and (max-width: 59.938em){
    .modal-content{
      height:33.313em;
    }
    #popup-window-three .modal-content{
      min-height: 43.313em !important;
    }
    .modal-dialog{
      width: 498px !important;
    }
    .table-row > .table-item-header, .table-item{
      -moz-flex-basis: 50%;
      -ms-flex-basis: 50%;
      -o-flex-basis: 50%;
      flex-basis: 50% !important;
    }
    .modal-body{
        height: 24.5em;
    }
    .table-row:first:child{
        vertical-align: center;
    }
    .table-row:first-child > .table-item-header, 
    .table-row:first-child > .table-item{
        font-size: 1em;
    }
    .table-row{
        margin-bottom: 0.5em;
    }
    .table-container{
        padding:1em;
        -moz-box-shadow:inset 0 0 2px #000000;
        -o-box-shadow:inset 0 0 2px #000000;
        -ms-box-shadow:inset 0 0 2px #000000;
        box-shadow:inset 0 0 2px #000000;
        -moz-flex-basis: 100%;
        -ms-flex-basis: 100%;
        -o-flex-basis: 100%;
        flex-basis: 100%;
        position: relative;
        z-index: 1;
        height: 14.75em;
    }
    .search-icon:focus + .insert-box{
      width: 60% !important;
    }
    .insert-box:focus{
      width:60% !important;
    }
    #modal-switch-txt{
        position: relative;
        left: -0.65em;
        top: 0.45em;
        padding: 0.5em 0 0.5em 0.5em;
        font-size: 1rem !important;
        width: 5em !important;
    }
    #modal-switch-btn{
      position: relative;
      font-size: 25px;
      top:0.9em;
      right: 0;
      width: 1.75em !important;
      height: 1.75em !important;
      padding: 0.6rem 0.625rem 0.625rem 0.625rem !important;
    }
    .modal-switch{
      position:absolute;
      bottom: 6.55em;
      left: 2.5em;
      width: 10em;
      z-index: 1;
    }
    
    .results-container{
        position: absolute;
        z-index: 1;
        bottom: 0.35em;
        right: 3em;
    }
    .results-box{
        font-size: 1rem !important;
        width: 10em;
        height: 5.5em !important;
        display: none;
        padding: 0.4em 0 0.75em 0.6em;
    }
    #click-txt{
      position: relative;
      top: 0.4em;
      left: 0.35em;
      width: 4em !important;
    }
    #website_nav{
      width: 1.75em !important;
      height: 1.75em !important;
      font-size: 25px;
      position: relative;
      top: -1.725em;
      left: 3.5em;
      padding: 0.6rem 0.625rem 0.625rem 0.625rem !important;
    }
    #modalOne-footer{
        position: relative;
        bottom: -0.75em;
    }
    .footer-btn-group, .searchbox-ctr{
        position:relative;
        bottom: -0.05em;
        right: 0.25em;
    }
    #suggestions{
        width: 60% !important;
        left: 2.5em;
        bottom: 1em;
        z-index:999;
    }
    #arrow, #arrow + span{
        -webkit-display: none;
        -moz-display: none;
        -ms-display: none;
        -o-display: none;
        display: none;
    }
    #matched_nums{
        position: relative;
        overflow-y:auto;
        overflow-x:hidden;
        top:1.5em;
        max-height: 11em;
        width: 150%;
        text-align: center;
        margin: auto;
    }
    #matched_nums li:hover{
        transform-origin:center;
    }
    .dropdown-results-body{
        overflow-x:auto;
        overflow-y:hidden;
    }
  }
/* ================================================================
    Larger Modern Desktops  -->  [ > 960 ]
   ================================================================ */
 
   @media screen and (min-width: 60em){
      
    .modal-dialog{
      max-width: 800px !important;
      height: auto !important;
    }
    .table-container{
      height: 15rem; /*Adjust When the info comes*/
    }
    .table-row > .table-item-header{
      -moz-flex-basis: 40% !important;
      -ms-flex-basis: 40% !important;
      -o-flex-basis: 40% !important;
      flex-basis: 40% !important;
    }
    .table-row > .table-item{
      -moz-flex-basis: 60%;
      -ms-flex-basis: 60%;
      -o-flex-basis: 60%;
      flex-basis: 60% !important;
    }
    .table-row:first:child{
        vertical-align: center;
    }
    .table-row:first-child > .table-item-header, 
    .table-row:first-child > .table-item{
        font-size: 1em;
    }
    .table-row{
        margin-bottom: 0.5em;
    }
    .table-container{
        padding:1em;
        -moz-box-shadow:inset 0 0 2px #000000;
        -o-box-shadow:inset 0 0 2px #000000;
        -ms-box-shadow:inset 0 0 2px #000000;
        box-shadow:inset 0 0 2px #000000;
        width: 65%;
    }
    #modal-switch-txt{
        width: 5em;
        font-size: 1.1rem !important;
        padding: 0.5em 0 0.5em 0.25em;
    }
    .modal-switch{
        position: absolute !important;
        left: 34.26em;
        top: 4.5em;
        z-index: 1;
        width: 13.45em !important;
        -o-transition-property: transform, box-shadow;
        -o-transition-duration: 200ms, 300ms;
        -o-transition-timing-function: ease-in-out;
        -ms-transition-property: transform, box-shadow;
        -ms-transition-duration: 200ms, 300ms;
        -ms-transition-timing-function: ease-in-out;
        transition-property: transform, box-shadow;
        transition-duration: 200ms, 300ms;
        transition-timing-function: ease-in-out;
    }
    .modal-switch:hover, .results-box:hover{
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
      transform: scale(1.02);
      -o-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important; 
      -ms-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important; 
      box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important;
    }
    #modal-switch-btn{
      position: relative;
      top: 0.5em;
      right: -0.75em;
      padding: 0.35em 0.25em 0.25em 0.25em !important;
      font-size: 30px !important;
      height: 1.75em !important;
      width: 1.75em !important;
    }
    .results-container{
        font-size: 1.1rem !important;
        position: absolute;
        left: 31.6em;
        bottom: 1.25em;
    }
    .results-box{
        font-size: 1.1rem !important;
        -webkit-display:none;
        -moz-display: none;
        -ms-display: none;
        -o-display: none;
        display: none;
        width: 12.2em;        
        padding: 0.4em 0 0.75em 0.6em;
        height: 5.25em !important;
        -o-transition-property: transform, box-shadow;
        -o-transition-duration: 200ms, 300ms;
        -o-transition-timing-function: ease-in-out;
        -ms-transition-property: transform, box-shadow;
        -ms-transition-duration: 200ms, 300ms;
        -ms-transition-timing-function: ease-in-out;
        transition-property: transform, box-shadow;
        transition-duration: 200ms, 300ms;
        transition-timing-function: ease-in-out;
    }
    #website_nav{
      width: 1.75em !important;
      height: 1.75em !important;
      position: relative;
      top: -1.25em;
      right: -4.325em;
      font-size: 30px;
      padding: 0.35em 0.25em 0.25em 0.25em !important;
    }
    #click-txt{
      position: relative;
      top: 0.65em;
      width:6.5em !important;
      margin: 0.15em 0 0 0.5em;
    }
    #suggestions{
        width: 69.5% !important;
        right: 9.75em;
        bottom: 1.25em;
    }
    .basic-form, .modal-content{
        min-height: 21.7em !important;
    }
    #popup-window-three .modal-content{
      min-height: 41.7em !important;
    }
    #modalOne-footer{
        position: relative;
        bottom:-0.6em;
    }
    .footer-btn-group, .searchbox-ctr{
        position:relative;
        bottom: -0.1em;
    }
 
     /*==============================================
                        Second Modal
      ==============================================*/   
    
    
    
    #cross-ref-body{
        height: 17.7em !important;
        overflow: hidden;
    }
    #cross-ref-footer{
        position:relative;
        bottom:0.1em;
        padding-right: 0.5rem;
    }

    .card{
        position: relative;
        bottom: 4.8em;
        max-width: 50%;
        height: 14em !important;
        border: 2px;
        -o-box-shadow: 0px 7.5px 10px -5px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important; 
      -ms-box-shadow: 0px 7.5px 10px -5px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important; 
      box-shadow: 0px 7.5px 10px -5px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important;
    }
    #cross-ref-header{
        color:#740000;
        font-weight: 300;
        font-size: 1.1rem;
    }
    .spec-selectors{
        position: relative;
        right: 17.4em;
        top:2.1em;
    }
    #dropdown-nav-container{
        position: relative;
        top: 0.7em;
        max-height: 8.8em;
    }
    .dropdown-area{
        max-width:16.3em;
    }
    .dropdown-button{
        border: rgba(223, 223, 223, 0.8) solid 1.25px !important;
    }
    #matched_nums{
        position: relative;
        overflow-y:auto;
        overflow-x:hidden;
        top:0.5em;
        max-height: 9.5em;
        width: 150%;
        text-align: center;
        margin: auto;
    }
    #matched_nums li:hover{
        -ms-transform-origin: center;
        -o-transform-origin: center;
        transform-origin:center;
    }
    .dropdown-results-body{
        overflow-x:auto;
        overflow-y:hidden;
    }
  }


/*
*:hover{
  outline: solid 1px blue;
}*/
.modal-dialog-scrollable .modal-body{
  overflow-y: hidden;
}
input[type=text]{
  padding-bottom: 0.25em;
  font-size: 16px;
}

::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar{
  display: none;
}
::-ms-scrollbar{
  display: none;
}

@keyframes fade-in{
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}