@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Fjalla+One&display=swap");
/****************** MEDIA QUERUES ******************/
body {
  font-family: "Average Sans", "sans-serif";
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) !important;
  -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) !important;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) !important;
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) !important;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
}

.window-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75vh;
  width: 80vw;
  background-color: #cfcfcf;
}

.popup-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #990000;
  color: #fff;
  -webkit-transition-property: background, transform;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.popup-btn p {
  margin: 0;
  padding: 0;
}

.popup-btn:hover {
  background-color: #740000;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  color: white;
}

.modal-dialog {
  border-radius: 0 !important;
  max-width: 55vw !important;
  max-height: 60vh !important;
}

.modal-dialog .modal-content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.modal-dialog .modal-content .modal-header {
  border-bottom: none !important;
}

.modal-dialog .modal-content .modal-header .modal-title {
  font-family: "Fjalla One", "sans-serif";
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  color: #333333;
  line-height: 1.3em;
  text-rendering: optimizeLegibility;
  padding: 0;
}

.modal-dialog .modal-content .modal-header .btn-close {
  position: absolute;
  font-family: 'Average Sans', 'sans-serif';
  top: 1.5rem;
  right: 1.375rem;
  width: 0.5rem !important;
  height: 0.5rem !important;
}

.modal-dialog .modal-content .modal-switch {
  position: absolute;
  z-index: 1;
  position: absolute;
  right: 2rem;
  width: 13.45rem;
  height: 5.5rem;
  padding: 0 1em 0 1em;
  margin: 1em 0.95em 0 1em;
  background-color: #990000;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
  -webkit-transition-property: transform, box-shadow;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 200ms, 300ms;
  transition-duration: 200ms, 300ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.modal-dialog .modal-content .modal-switch:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0, 0, 0, 0) !important;
          box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0, 0, 0, 0) !important;
}

.modal-dialog .modal-content .modal-switch #modal-switch-txt {
  width: 5em;
  font-size: 1.1rem !important;
  padding: 0.5em 0 0.5em 0.25em;
  letter-spacing: 0.05em;
  text-shadow: #474747 2px 2px 1px !important;
  color: #fff;
}

.modal-dialog .modal-content .modal-switch #modal-switch-btn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  height: 1.75em !important;
  width: 1.75em !important;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin: 0 0.5rem 0 0.5rem !important;
  padding: 0.35em 0.25em 0.25em 0.25em !important;
  text-shadow: 1.3px 2px 2px rgba(59, 62, 95, 0.8), 1.5px 2px 8px rgba(153, 0, 0, 0.623);
  -webkit-transition-property: background-color, box-shadow, transform;
  -webkit-transition-property: background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, box-shadow, transform;
  transition-property: background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in;
  transition-timing-function: ease-in-out, ease-in-out, ease-in;
}

.modal-dialog .modal-content .modal-switch #modal-switch-btn:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: rgba(190, 188, 188, 0.25);
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.225);
          box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.225);
  cursor: pointer !important;
}

.modal-dialog .modal-content .modal-switch #modal-switch-btn:active {
  background-color: transparent;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.modal-dialog .modal-content .basic-form {
  width: 100%;
  height: 35vh;
  padding: 0;
  margin: 0;
}

.modal-dialog .modal-content .basic-form .table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !important;
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !important;
  border: solid 1px #cccccc;
  background-color: rgba(175, 175, 175, 0.15);
  border-radius: 0;
  height: 100%;
  width: 60%;
  -ms-flex-preferred-size: 96%;
      flex-basis: 96%;
}

.modal-dialog .modal-content .modal-body {
  padding-top: 0 !important;
  margin-top: 0 !important;
  overflow-x: hidden !important;
  height: 35vh;
}

.modal-dialog .modal-content .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: -0.15em;
  width: 100%;
}

.modal-dialog .modal-content .modal-footer button {
  color: #fff !important;
  border-color: #212529;
  background-color: #212529;
  -webkit-transition-property: background-color, border-color, transform, box-shadow;
  -webkit-transition-property: background-color, border-color, -webkit-transform, -webkit-box-shadow;
  transition-property: background-color, border-color, -webkit-transform, -webkit-box-shadow;
  transition-property: background-color, border-color, transform, box-shadow;
  transition-property: background-color, border-color, transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 200ms, 200ms, 100ms, 100ms;
  transition-duration: 200ms, 200ms, 100ms, 100ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.modal-dialog .modal-content .modal-footer button:hover {
  background-color: #990000;
  border-color: #990000;
  -ms-box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.7), -0.25px 0 0px #000001 !important;
  -o-box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.7), -0.25px 0 0px #000001 !important;
  -webkit-box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.7), -0.25px 0 0px #000001 !important;
          box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.7), -0.25px 0 0px #000001 !important;
}

.modal-dialog .modal-content .modal-footer button:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr {
  width: 33vw;
  position: absolute;
  left: 0;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box {
  letter-spacing: 0.05em;
  outline: none;
  border: none;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  padding-left: 0.5rem;
  font-size: 14px;
  width: 0%;
  position: relative;
  left: 3.5rem !important;
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2) !important;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2) !important;
  opacity: 0;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box::-webkit-input-placeholder {
  margin-bottom: 0.5rem;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box:-ms-input-placeholder {
  margin-bottom: 0.5rem;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box::-ms-input-placeholder {
  margin-bottom: 0.5rem;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box::placeholder {
  margin-bottom: 0.5rem;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box:focus {
  opacity: 1;
  width: 70%;
  border-radius: 0 !important;
  background: transparent;
  border-bottom: 1px solid #990000;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .insert-box.open {
  opacity: 1 !important;
  width: 70% !important;
  border-radius: 0 !important;
  background: transparent;
  border-bottom: 1px solid #990000 !important;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .search-icon {
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  outline: none;
  position: absolute;
  top: -0.6em;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #740000;
  pointer-events: painted;
  -webkit-transition-property: transform, font-size;
  -webkit-transition-property: font-size, -webkit-transform;
  transition-property: font-size, -webkit-transform;
  transition-property: transform, font-size;
  transition-property: transform, font-size, -webkit-transform;
  -webkit-transition-duration: 100ms, 200ms;
  transition-duration: 100ms, 200ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .search-icon i {
  border-radius: 50%;
  color: white;
  width: 2rem;
  height: 2rem;
  text-shadow: 0 1px 0 #CCCCCC, 0 3px 0 rgba(0, 0, 0, 0.8);
  position: relative;
  top: 0.1em;
  -webkit-transition-property: text-shadow;
  transition-property: text-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .search-icon i:hover {
  text-shadow: 0 1px 0 #CCCCCC, 0 3px 0 rgba(0, 0, 0, 0.8), 0 4px 3px rgba(0, 0, 0, 0.8);
}

.modal-dialog .modal-content .modal-footer .searchbox-ctr .search-icon:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal-dialog .modal-content .modal-footer.footer-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */