@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Fjalla+One&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}

  /* ===================================================================================== */

input:focus, textarea:focus, select:focus, button:focus{
    outline: none !important;
}
.tooltip{
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -ms-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}
.tooltip-inner{
  background-color: #990000 !important;
  -moz-box-shadow: 1px 1px 5px rgb(0,0,0,0.7) !important;
  -ms-box-shadow: 1px 1px 5px rgb(0,0,0,0.7) !important;
  -o-box-shadow: 1px 1px 5px rgb(0,0,0,0.7) !important;
  box-shadow: 1px 1px 5px rgb(0,0,0,0.7) !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before{
  border-top-color: #990000 !important;
}
.tooltip.left .tooltip-arrow::before{
  border-left-color: #990000 !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::after, 
.tooltip.bs-tooltip-right .tooltip-arrow::after{
  -moz-box-shadow: 1px 1px 5px rgb(0,0,0,0.7) !important;
  -ms-box-shadow: 1px 1px 5px rgb(0,0,0,0.7) !important;
  -o-box-shadow: 1px 1px 5px rgb(0,0,0,0.7) !important;
  box-shadow: 1px 1px 5px rgb(0,0,0,0.7) !important;
}


.btn{
  -moz-box-shadow: 1px 1px 3px rgb(0,0,0,0.7) !important;
  -ms-box-shadow: 1px 1px 3px rgb(0,0,0,0.7) !important;
  -o-box-shadow: 1px 1px 3px rgb(0,0,0,0.7) !important;
  box-shadow: 1px 1px 3px rgb(0,0,0,0.7) !important;
}
iframe{
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
  top:auto;
  bottom: 0;
  border-radius: 5px;
  border: 1px solid black;
  min-height: 31.25em !important;
  margin: 1em 0;
  z-index: 999;
  width:100%;
  box-shadow: 1px 1px 3px rgb(0,0,0,0.5);
}
#data-sheet-title{
  margin-bottom: 0em;
}
#data-sheet-title u{
  position:relative;
  top: -0.5em;
  left: 0.05em;
  letter-spacing: 0.05em;
  color: #990000;
  font-size: 16px;
}
/* Safari Hack */
@media not all and (min-resolution:.001dpcm){
  /*
    This adjustment is onlhy for Safari as iFrame does not work properly 
    with Safari when using percentages in demensional adjustemnts
  */
  iframe{
    height: 31.25em !important;
  }
}


/** Containers **/
.modal-dialog{
  border-radius: 0 !important;
}
.modal-content{
  width: 100% !important;
  min-height: 31.4em !important;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.modal-body{
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.basic-form{
  width: 100% !important;
  min-height: 27.6em !important;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main-container{
    -moz-display: flex;
    -o-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    background-color: aliceblue;
    border: dotted black 1px;
    height: 100vh;
    width: 100%;
    -moz-align-items: center;
    -ms-align-items:center;
    -o-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content:center;
}
.window-container{
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    background-color: rgb(207, 207, 207);
    height:75%;
    width: 80%;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center; 
}
.table-container{
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    -o-flex-flow: column nowrap;
    flex-flow: column nowrap;
    overflow: hidden;
    border: solid #cccccc 1px;
    background-color: rgb(175, 175, 175, 0.15);
    border-radius: 0;
    height: 16em;
    -moz-flex-basis:96%;
    -ms-flex-basis:96%;
    -o-flex-basis:96%;
    flex-basis: 96%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    overflow-y:auto;
    overflow-x: hidden;
    -moz-box-shadow: 0 1px 5px rgb(0,0,0,0.5) !important;
    -ms-box-shadow: 0 1px 5px rgb(0,0,0,0.5) !important;
    -o-box-shadow: 0 1px 5px rgb(0,0,0,0.5) !important;
    box-shadow: 0 1px 5px rgb(0,0,0,0.5) !important;
}
.results-container{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  -o-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  margin: 0;
}

/** Popup Button Properties **/
.popup-btn{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-dispaly: flex;
  display: flex;
  Width: auto;
  font-size: 16px;
  -moz-align-self: center;
  -ms-align-self: center;
  -o-align-self: center;
  align-self: center;
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #990000;
  -moz-box-shadow: 1px 1px 7px 0px rgb(153,0,0,0.25),
              2px 3px 10px 1px rgb(175, 175, 175, 0.8),
              1px 2px 5px 1px rgb(0,0,0,0.45);
  -o-box-shadow: 1px 1px 7px 0px rgb(153,0,0,0.25),
              2px 3px 10px 1px rgb(175, 175, 175, 0.8),
              1px 2px 5px 1px rgb(0,0,0,0.45);
  -ms-box-shadow: 1px 1px 7px 0px rgb(153,0,0,0.25),
              2px 3px 10px 1px rgb(175, 175, 175, 0.8),
              1px 2px 5px 1px rgb(0,0,0,0.45);             
  box-shadow: 1px 1px 7px 0px rgb(153,0,0,0.25),
              2px 3px 10px 1px rgb(175, 175, 175, 0.8),
              1px 2px 5px 1px rgb(0,0,0,0.45);
  -ms-transition-property: background, transform;
  -ms-transition-duration: 300ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: background, transform;
  -o-transition-duration: 300ms;
  -o-transition-timing-function: ease-in-out;
  transition-property: background, transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.popup-btn:hover{
  background-color: #7a0000;
  -o-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}
.popup-btn p{
  margin: 0;
  padding: 0;
  color: white;
}
.popup-btn:hover{
  color: white;
}


/** Results Table (Internal Text) Properties **/
.table-row:first-child{
    padding-bottom: 1rem;
}
.table-row:first-child > .table-item-header{
    color: #740000;
    font-size: 14px;
    -moz-text-decoration:underline;
    -ms-text-decoration:underline;
    -o-text-decoration:underline;
    text-decoration: underline;
}
.table-row:first-child > .table-item{
    letter-spacing: 0.05em;
    color: #740000;
    font-size: 14px;
}
.table-row{
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    -o-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.table-item-header{
    -moz-animation: fade-in 750ms;
    -ms-animation: fade-in 750ms;
    -webkit-animation: fade-in 750ms;
    animation: fade-in 750ms;
    padding-right: 1rem;
    -moz-flex-basis: 60%;
    -ms-flex-basis: 60%;
    -o-flex-basis: 60%;
    flex-basis: 60%;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}
.table-item{
    -moz-animation: fade-in 750ms;
    -ms-animation: fade-in 750ms;
    -webkit-animation: fade-in 750ms;
    animation: fade-in 750ms;
    -moz-flex-basis: 40%;
    -ms-flex-basis: 40%;
    -o-flex-basis: 40%;
    flex-basis:40%;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
}
#popup-window-three{
  -moz-animation: fade-in 350ms;
  -ms-animation: fade-in 350ms;
  -webkit-animation: fade-in 350ms;
  animation: fade-in 350ms;
}

/* Modal Switch Button and Content */
.modal-switch{
  -webkit-display: flex !important;
  -moz-display: flex !important;
  -ms-display: flex !important;
  -o-display: flex !important;
  display: flex !important;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -moz-flex-flow: column wrap !important;
  -ms-box-sizing: column wrap !important;
  -o-flex-flow: column wrap !important;
  flex-flow: column wrap !important;
  font-family: 'Average Sans', 'sans-serif';
  padding: 0 1em 0 1em;
  margin: 1em 0.95em 0 1em;
  -moz-justify-content: flex-start !important;
  -ms-justify-content: flex-start !important;
  -o-justify-content: flex-start !important;
  justify-content: flex-start !important;
  -o-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important; 
  -ms-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important;
  -moz-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important; 
  box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important;
  border-radius: 10px;
  background-color:#990000;
  border: none;
  height: 5.5em !important;
}
#modal-switch-txt{
  letter-spacing: 0.05em;
  text-shadow: #474747 2px 2px 1px !important;
  color:#fff;
  font-size: 14px !important;
  padding: 0;
  margin: 0;
}
#modal-switch-btn, #website_nav{
  height: 1.5em !important;
  width: 1.5em !important;
  font-size: 22px;
  font-weight: bolder;
  color: white;
  text-align:center;
  border-radius: 10px;
  margin: 0 0.5rem 0 0.5rem !important;
  padding: 0.25rem !important;
  text-shadow: 1.3px 2px 2px rgba(59, 62, 95, 0.8), 
    1.5px 2px 8px rgba(153, 0, 0, 0.623);
  -ms-transition-property:background-color,box-shadow,transform;
  -ms-transition-duration: 200ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property:background-color,box-shadow,transform;
  -o-transition-duration: 200ms;
  -o-transition-timing-function: ease-in-out;
  transition-property:background-color,box-shadow,transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out, ease-in-out, ease-in;
}
#modal-switch-btn:hover, #website_nav:hover{
  transform: scale(1.08);
  background-color: rgba(190, 188, 188, 0.25);
  box-shadow: 0 4px 20px 0px rgb(0,0,0,0.14),
              0 7px 10px -5px rgba(0,0,0,0.225);
  cursor: pointer !important;
}
#modal-switch-btn:active,#website_nav:active{
  background-color:transparent;
  transform: scale(0.95);
}
#cross-ref-header{
  margin: 1rem 1rem 1rem 0;
  font-family: 'Average Sans', 'sans-serif';
  font-size: 16px;
}
.cross-ref-main-content{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-disalay: flex;
  display: flex;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -o-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  margin: 1.5em 0 0 0;
  padding: 0;
}
.spec-selection{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-disalay: flex;
  display: flex;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -o-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  min-height: 4.75em;
}
.spec-selectors{
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-disalay: flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -o-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}


/* Dropdown Properties */
.dropdown-nav-container{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  -o-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-box-sizing: border-box;
  -o-border-box: border-box;
  box-sizing: border-box;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: flex-start;
  height: 18em;
  min-width: 11em;
  overflow-x: hidden;
  overflow-y:auto;
  padding: 0;
  margin: 0;
}
.dropdown-area{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-dispaly: flex;
  display: flex;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 0 0 1em 0 !important;
  padding: 0;
  max-width: 11em;
  -moz-animation: fade-in 125ms;
  -ms-animation: fade-in 125ms;
  -webkit-animation: fade-in 125ms;
  animation: fade-in 125ms;

}
.dropdown-label{
  font-family: 'Average', 'sans-serif';
  color: #990000;
  font-weight: bold;
  font-size: 14px !important;
  margin: 0 0 0.1em 0;
  padding: 0;
  position:relative !important;
}
.dropdown-button-man{ 
  width: 8.438em !important;
  height: 1.75em !important;
  border: solid 1px rgb(175, 175, 175, 0.25) !important;
  margin: 0 0.5em 0 0 !important;
  padding:0;
  font-family: 'Average Sans', 'sans-serif';
}
#selectSeries{
  width: 7.312em !important;
}
.dropdown-button{ /* Override Properties For Top Button */
  height: 1.75em !important;
  border: solid 1px rgb(175, 175, 175, 0.25) !important;
  box-shadow: 0 0 10 100 #fff inset;
  padding: 0;
  font-family: 'Average Sans', 'sans-serif';
}
.dropdown-nav-results{
  -moz-flex-grow: 3;
  -ms-flex-grow: 3;
  -o-flex-grow: 3;
  flex-grow: 3;
  height: 18em !important;
  margin: 0 0 0 1.75em;
}

.card-header{
  background-color: #990000e5;
  color: white;
  height: 2em;
}
.card-header h6{
  position: relative;
  /*bottom:0.15em;*/
  font-family: 'Fjalla One', 'sans-serif';
  font-size: 20;

}
.card-header span{
    position: relative;
    bottom: 0.05em;
    left: 2.5em;
    font-size: 14px;
    font-weight: 100 !important;
    letter-spacing: 0.1em;
}
#arrow{
    position: relative;
    bottom: 0.15em;
    left: 1.25em;
}
.dropdown-results-body{
  height: 15.313em !important;
  -webkit-display: flex;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  grid-row-gap: 0%;
  justify-content: flex-start;
  -ms-align-content: flex-start;
  -o-align-content: flex-start;
  align-content: flex-start;
  background-color: rgb(175, 175, 175, 0.05);
  border: solid 1px #990000e5;
  text-shadow: 0.5px 0.5px 1px #99000048;
}
.UserDirections{ /* The first thing that goes inside of the dropdown results body*/
  margin: 0.5em auto 0 auto !important;
  padding: 0 !important;
  font-family: 'Average', 'sans-serif';
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  max-width: 7.063em;
  text-shadow: 0.5px 0.5px 1px #99000048;
  -ms-animation: fade-in 300ms;
  -o-animation: fade-in 300ms;
  -moz-animation: fade-in 300ms;
  animation: fade-in 300ms;
}
.catalog_num{
  -webkit-display: inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row wrap;
  flex-direction: row wrap;
  padding-bottom: 0.5em;
  height: fit-content;
  margin: 0;
}
.dropdown-positioned{
  min-width: 8rem !important;
}
.dropdown-item{
  padding: 0.25rem 0.50rem 0.25rem 0.50rem;
}
.dropdown-item:hover{
  background-color: #990000 !important;
  color: white;
}
/** Properties for "Click here for Repco's Replacement" Line **/
.results-box{
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-display: inline-flex;
    display: inline-flex;
    -moz-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    -o-flex-flow: column wrap;
    flex-flow: column wrap;
    font-family: 'Average Sans', 'sans-serif';
    -o-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important; 
    -ms-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important;
    -moz-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important; 
    box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important;
    border-radius: 10px;
    background-color:#990000;
    border: none;
    color:#fff;
    font-size: 14px !important;
    padding: 0;
    margin: 0;
    height: 6em;
}
.results-box p{
  margin: 0;
  padding: 0;
}
#repReplace{
  height: 1.5em !important;
}

/** Modal Submit Button **/
#submit{
    margin-right: 0.4rem;
}

/** Modal Header Properties **/
.modal-header{
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: none !important;
}
.modal-title{
    font-family: 'Fjalla One', 'sans-serif';
    font-size: 1.5em;
    font-weight: normal;
    font-style:normal;
    color: #333333;
    line-height: 1.3em;
    text-rendering: optimizeLegibility;
    padding:0;
}
.btn-close{
    position: absolute;
    font-family: 'Average Sans', 'sans-serif';
    top: 24px;
    right: 22px;
    width: 0.5em !important;
    height: 0.5em !important;
}
#click-txt{
  letter-spacing: 0.05em;
  text-shadow: #474747 2px 2px 1px !important;
  margin: 0;
  padding:0;
}
#data-sheet-footer{
  justify-content: space-between !important;
}
#data-sheet-footer > div{
  position: relative;
  left: 0.1em;
  display: flex;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  
}
#data-sheet-footer > div > p{
  position: relative;
  top: 0.19em;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(153,0,0,0.20);
}
#data-sheet-footer > div > i{
  text-align: center;
  background: #990000;
  color: #fff;
  -moz-box-shadow: 1px 1px 3px rgb(0,0,0,0.5);
  -ms-box-shadow: 1px 1px 3px rgb(0,0,0,0.5);
  -o-box-shadow: 1px 1px 3px rgb(0,0,0,0.5);
  box-shadow: 1px 1px 3px rgb(0,0,0,0.5);
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 1em;
  width: 1.5em;
  position: relative;
  right: -0.5em;
  -ms-transition-property: background, transform;
  -ms-transition-duration: 150ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: background, transform;
  -o-transition-duration: 150ms;
  -o-transition-timing-function: ease-in-out;
  transition-property: background, transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
#data-sheet-footer > div > i:hover{
  background: #7a0000;
  cursor: pointer;
}
#data-sheet-footer div > i:active{
  -ms-transform: scale(0.95);
  -ms-transform-origin: center;
  -o-transform: scale(0.95);
  -o-transform-origin: center;
  transform: scale(0.95);
  transform-origin: center;
  background: #990000;
}
/** Modal Footer Properties **/
.modal-footer{
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-display: flex;
    display: flex;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    -o-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -moz-align-items: row nowrap;
    -ms-align-items: row nowrap;
    -o-align-items: row nowrap;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: flex-end;

}
.footer-btn-group{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
}
.footer-btn{
  font-family: 'Average Sans', 'sans-serif';
  color: #fff !important;
  border-color: #212529 !important;
  background-color: #212529 !important;
  -ms-transition-property: background-color,border-color,transform,box-shadow;
  -ms-transition-duration: 200ms,200ms,100ms,100ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: background-color,border-color,transform,box-shadow;
  -o-transition-duration: 200ms,200ms,100ms,100ms;
  -o-transition-timing-function: ease-in-out;
  transition-property: background-color,border-color,transform,box-shadow;
  transition-duration: 200ms,200ms,100ms,100ms;
  transition-timing-function: ease-in-out;
}
.footer-btn:hover{
  background-color: #990000 !important;
  border-color: #990000 !important;
  -moz-box-shadow: 1px 1.5px 4px rgb(0,0,0,0.7), -0.25px 0 0px rgb(0,0,0.7) !important;
  -ms-box-shadow: 1px 1.5px 4px rgb(0,0,0,0.7), -0.25px 0 0px rgb(0,0,0.7) !important;
  -o-box-shadow: 1px 1.5px 4px rgb(0,0,0,0.7), -0.25px 0 0px rgb(0,0,0.7) !important;
  box-shadow: 1px 1.5px 4px rgb(0,0,0,0.7), -0.25px 0 0px rgb(0,0,0.7) !important;
}
.footer-btn:active{
  transform: scale(0.97);
}
.searchbox-ctr{
  -moz-flex-basis: 90%;
  -ms-flex-basis: 90%;
  -o-flex-basis: 90%;
  flex-basis: 90%;
  width: fit-content;
}
.searchbox-ctr + div{
  max-width: 60% !important;
}
.insert-box{
    letter-spacing: 0.05em;
    outline: none;
    border:none;
    -moz-align-self: center !important;
    -ms-align-self: center !important;
    -o-align-self: center !important;
    align-self: center !important;
    padding-left: 0.5rem;
    font-size: 14px;
    width: 0%;
    position:absolute;
    top:-0.45em !important;
    left: 2.5em;
    transition: all 500ms cubic-bezier(0,0.110, 0.35, 2) !important;
    opacity:0;
}
.insert-box::placeholder{
  margin-bottom: 0.5em;
}
.search-icon:focus + .insert-box{
  opacity:1;
  width:70% !important;
  border-radius: 0 !important;
  background: transparent !important;
  border-bottom: 1px solid rgba(153, 0, 0, 1) !important;
}
.insert-box:focus{
  opacity: 1;
  width:70% !important;
  border-radius: 0 !important;
  background: transparent !important;
  border-bottom: 1px solid rgba(153, 0, 0, 1) !important;
}
.search-icon{
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  outline: none;
  position:absolute;
  top: -0.6em;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color:rgba(153, 0, 0, 1);  
  pointer-events: painted;
  transition-property: transform, font-size;
  transition-duration: 100ms, 200ms;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.search-icon i{
  border-radius: 50%;
  color: white;
  width: 2rem;
  height: 2rem;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #CCCCCC, 0 3px 0 rgb(0,0,0,0.8);
  position: relative;
  top: 0.1em;
  transition-property: text-shadow;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.search-icon i:hover{
  text-shadow: 0 1px 0 #CCCCCC, 0 3px 0 rgb(0,0,0,0.8), 0 4px 3px rgb(0,0,0,0.8);
}
.search-icon:active{
  transform: scale(1.05);
}


strong{
  color:#7a0000; 
  padding: 0 0.08em 0 0;
}
#suggestions{
  position: absolute;
  display: none;
  background-color: rgb(231, 229, 229);
  border: solid #cccccc 1.25px;
  max-height: 7.5em;
  width: 69.8%;
  right: 8.3em;
  bottom: 3.5em;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.25em 0 0.25em 0;
  -o-box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.5);
  -ms-box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.5); 
  box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.5);
  -o-transition-property: transform, display;
  -ms-transition-propert: transform, display;
  transition-property: transform, display;
  -o-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  transition-duration: 300ms;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-animation: fade-in 200ms ease-in-out !important;
  -ms-animation: fade-in 200ms ease-in-out !important;
  -o-animation: fade-in 200ms ease-in-out !important;
  animation: fade-in 200ms ease-in-out !important;
}
#suggestions-list{
  margin: 0;
  padding-left: 0.5rem;
  list-style-type:none;
  font-family: 'Average Sans', 'sans-serif';
}
#suggestions-list li{
  margin: 0 0 0.25em 0;
}
#suggestions-list li:hover{
  cursor: pointer;
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  font-weight: 600;
  color: #7a0000;
}
#matched_nums{
  margin: 0;
  padding: 0;
  list-style-type:none;
  font-family: 'Average Sans', 'sans-serif';
  -moz-animation: fade-in 500ms;
  -ms-animation: fade-in 500ms;
  -webkit-animation: fade-in 500ms;
  animation: fade-in 500ms;
}
#matched_nums li{
  margin: 0 0 0.3em 0;
  padding: 0 0 0 0.5em;
  -ms-transition-property: transform, transform-origin, padding;
  -o-transition-property: transform, transform-origin, padding;
  transition-property: transform, transform-origin, padding; 
  -ms-transition-duration:  200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#matched_nums li:hover{
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  padding: 0.5em 0 0.5em 0.25em;
  color: #7a0000;
  text-shadow: 1px 1px 3px #474747;
  cursor: pointer;
  letter-spacing: 0.025rem;
}
#matched_nums li:active{
  font-weight: 500;
  text-shadow: 1px 1px 6px #474747a9;
  letter-spacing: 0.05rem;
}
.insert-box::placeholder{
    font-size: 14px;
}



* { 
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; 
}
body {
  font: 16px Arial;
}


  /* ================================================================
    Small Screens (Desktop)  -->  [321px < n > 579px]
   ================================================================ */

  @media screen and (min-width: 20.063em) and (max-width: 36.188em){ 
    .modal-content{
      min-height: 34.375em !important;
    }
    #popup-window-three .modal-content{
      min-height: 44.375em !important;
    }
    .modal-body{
      height: 22em !important;
      -moz-flex-basis: auto;
      -ms-flex-basis: auto;
      -o-flex-basis: auto;
      flex-basis: auto;
    }
    .modal-footer{
      width: 100%;
      position: absolute !important;
      bottom: -0.15em !important;
      -ms-flex-flow: row wrap;
      -o-flex-flow: row wrap;
      -moz-flex-flow: row wrap;
      flex-flow: row wrap;
      -moz-align-items: center;
      -o-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -moz-justify-content: flex-end;
      -o-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
    }
    .insert-box{
      top: 0.6em !important;
      left: -0.4em;
      margin: 0 0 0.75em 0;
    }
    .search-icon{
      top: 0.15em;
      left: -2em;
    }
    .search-icon:focus + .insert-box{
      width: 55% !important;
    }
    .insert-box:focus{
      width:55% !important;
    }
    .table-container{
        height:13.75em;
    }


    /* Fix this Please  */
    #errorMessage{
      align-content:center !important;
      color: white !important;
    }
    
    .table-row{
      -ms-flex-flow: row wrap !important;
      -o-flex-flow: row wrap !important;
      -moz-flex-flow: row wrap !important;
      flex-flow: row wrap !important;
    }
    .table-row:first-child > .table-item-header, 
    .table-row:first-child > .table-item{
      font-size: 1em;
    }
    .table-row > .table-item-header{
      -ms-flex-basis: 14em !important;
      -o-flex-basis: 14em !important;
      -moz-flex-basis: 14em !important;
      flex-basis: 14em !important;
    }
    .table-row:first-child > .table-item-header{
      -ms-flex-basis: 10.5em !important;
      -moz-flex-basis: 10.5em !important;
      -o-flex-basis: 10.5em !important;
      flex-basis: 10.5em !important;
    }
    .table-row:first-child{
      padding-bottom: 0;
      margin: 0 0 0.5em 0;
    }
    .searchbox-ctr{
      width:fit-content;
      position:relative;
    }
    .modal-switch{
      position:absolute;
      bottom: 8.5em;
      left: 2em;
      width: 11em !important;
      z-index: 1;
      height: 5.25em !important;
    }
    #modal-switch-txt{
      position: relative;
      top: 0.3em;
      left: -0.5em;
      padding: 0.5em 0 0.5em 0.5em;
      font-size: 16px !important;
      width: 5em !important;
      text-shadow: none !important;
    }
    #modal-switch-btn, #website_nav{
      position: relative;
      width: 1.75em !important;
      height: 1.75em !important;
      font-size: 25px;
      padding:0.55rem 0.625rem 0.65rem 0.625rem !important;
    }
    #modal-switch-btn{
      top: 0.9em;
      right: -0.5em;
    }
    #matched_nums li:hover{
        transform-origin:center;
    }
    .results-container{
        position: absolute;
        z-index: 1;
        bottom: -1.3em;
        right: 2.5em;
    }
    .results-box{
      font-size: 16px !important;
      width: 11em !important;
      height: 5.25em !important;
      -webkit-display: none;
      -moz-display: none;
      -ms-display: none;
      -o-display: none;
      display: none;
      padding: 0.4em 0 0.75em 0.6em;
    }
    #click-txt{
      text-shadow: none !important;
      width: 5em;
      position: relative;
      top: 0.3em;
    }
    #website_nav{
      bottom: 1.75em;
      left: 4em;
    }
    #suggestions{
      width: 55% !important;
      left: -0.25em !important;
      bottom: 0 !important;
      max-height: 6em !important;
      z-index: 999;
    }
    #arrow, #arrow + span{
        -webkit-display: none;
        -moz-display: none;
        -ms-display: none;
        -o-display: none;
        display: none;
    }
     /* ================================================================
                         [321px < n > 475px]
      ================================================================ */
      @media screen and (min-width:20.063em) and (max-width:29.6875em){
        .modal-body{
          height: 24em !important;
        }
        .table-container{
            height:11.25em;
            padding: 0.75em;
        }
        .table-row > .table-item-header, .table-item{
          -o-flex-basis: 100% !important;
          -moz-flex-basis: 100% !important;
          -ms-flex-basis: 100% !important;
          flex-basis: 100% !important;
        }
        .table-row > .table-item-header{
            font-size: 0.8em;
        }
        .table-row:first:child{
            vertical-align: center;
        }
        .table-row > .table-item{
            padding-left: 0.5em;
        }
        .table-row:first-child > .table-item-header, 
        .table-row:first-child > .table-item{
            font-size: 1em;
            padding-left: 0;
        }
        .table-row:first-child > .table-item-header{
            margin-bottom: 0.25em;
        }
        .table-row:first-child > .table-item{
            margin-bottom: 0.75em;
        }
        .table-row{
            margin-bottom: 0.6em;
        }
      .modal-switch{
        background:rgb(175, 175, 175, 0.15) !important;
        position:absolute;
        margin: auto;
        top: 40.5%;
        right: 50%;
        width: 6em !important;
        height: 4em !important;
        border-radius: 10% 10% 35% 35% !important;
        box-shadow: 1px 1.75px 3px 0 rgb(17, 17, 17,0.65),
                    -1px 1.75px 3px 0 rgb(17, 17, 17,0.65),
                    0 -0.5px 2px rgb(17,17,17,0.65) !important;
      }
      #modal-switch-txt{
        position: relative;
        top: -0.3em;
        left: -0.75em;
        width: 5em !important;
        color: black !important;
        text-align: center;
        font-size: 16px !important;
      }
      #modal-switch-btn, #website_nav{
        background: #990000 !important;
        z-index: 999;
        display: block;
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
        width: 1.75em !important;
        height: 1.75em !important;
        border:rgba(0,0,0,1) solid 1px;
        border-radius: 0px !important;
        transition-property: box-shadow, text-shadow, transform;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
        
      }
      #modal-switch-btn::before, #website_nav::before{
        display: block;
        position: absolute;
        content: "";
        width:9px;
        height:102.5%;
        left: -10.1px;
        top: 4.5px;
        border:rgba(0,0,0, 1) solid 1px;
        border-right: none;
        background:rgba(115,0,0, 0.9);
        box-shadow: -1px -1px 3px rgb(0,0,0,0.5),
        1px 1px 5px rgb(0,0,0,0.5) !important;
        transform: rotate(0deg) skewY(-45deg);
      }
      #modal-switch-btn::after, #website_nav::after{
        display: block;
        position:absolute;
        content: "";
        width: 104%;
        height: 8px;
        left:-5.2px;
        top: 43.22px;
        border:rgba(0,0,0,1) solid 1px;
        border-top: none;
        border-left: none;
        box-shadow: 1px 1px 3px rgb(0,0,0,0.5) !important;
        transform: rotate(0deg) skewX(-45deg); 
        background: rgb(115,0,0,0.9);
        transform: rotate(45deg) scew(-45deg);
      }
      #website_nav::before{
        left: -10.05px !important;
      }
      #website_nav::after{
        height:9px !important;
        top: 43px !important;
        left: -5.2px !important;
      }

      #modal-switch-btn:hover, #website_nav:hover{
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(15px, -15px) scale(1.05);
        box-shadow: -20px 20px 10px rgb(0,0,0,0.5);
        text-shadow:1px 1px 1px rgba(0,0,0,1),
                    -1px -1px 1px rgba(0,0,0, 1) !important;
      }
      #modal-switch-btn:active, #website_nav:active{
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(10px, -10px) scale(0.98) ;
      }
      #modal-switch-btn{
        position: relative;
        top: 3.25em;
        left: -3.15em;
      }
      .results-container{
        position: relative;
        top: 0.55%;
        left: 57%;
      }
      .results-box{
        background:rgb(175, 175, 175, 0.15) !important;
        position:relative;
        width: 6em !important;
        height: 4em !important;
        border-radius: 10% 10% 35% 35% !important;
        box-shadow: 1px 1.75px 3px 0 rgb(17, 17, 17,0.65),
                    -1px 1.75px 3px 0 rgb(17, 17, 17,0.65),
                    0 -0.5px 2px rgb(17,17,17,0.65) !important;
      }
      #click-txt{
        position: relative;
        color: black !important;
        top: -0.15em;
        left: -0.2em;
        width: 5em !important;
        text-align: center;
        font-size: 15px !important;
      }
      #website_nav{
        position: absolute;
        top: 3.3em !important;
        left: 0.75em !important;
      }
      .modal-footer{
          border: none;
      }
      
    /*==============================================
                        Second Modal
      ==============================================*/
    
      /* ================================================================
                         [321px < n > 424px]
      ================================================================ */
      @media screen and (min-width:20.063em) and (max-width:26.5em){
        .cross-ref-main-content{
            -moz-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
            -o-flex-flow: row wrap;
            flex-flow: row wrap;
        }
        .cross-ref-header{
            font-size: 1em;
        }
        .spec-selection{
            position: relative;
            top: 12.5em;
            z-index: 999;
        }
        .dropdown-button-man{
            position: relative;
            text-align: left;
            bottom: 0.6em;
            left: 7.8em;
        }
        #selectSeries{
            position: relative;
            bottom:-1.3em;
            right: 0;
            text-align: left;
        }

        .dropdown-nav-container{
            -o-flex-basis: 100%;
            -moz-flex-basis: 100%;
            -ms-flex-basis: 100%;
            flex-basis: 100%;
            position:relative;
            top: 12em;
            max-height: 6.5em;
            
        }
        .dropdown-nav-results{
            -o-flex-basis: 100%;
            -moz-flex-basis: 100%;
            -ms-flex-basis: 100%;
            flex-basis: 100%;
            position: relative;
            top: -13em;
            margin: 0;
            height: 12em !important;
        }
        .dropdown-area{
            max-width: 22em;
        }
        .dropdown-area + select{
            text-align: center !important;
        }
        .dropdown-label + select{
            margin-left: 0.5em;
        }
        .dropdown-button{
            border: rgba(223, 223, 223, 0.8) solid 1.25px !important;
        }
        .dropdown-button:hover,.dropdown-button-man:hover{
            font-weight:600;
        }
        #matched_nums{
            position: relative;
            overflow-y:auto;
            overflow-x:hidden;
            top:0.1em;
            max-height: 7.5em;
            width: 150%;
            text-align: center;
            margin: auto;
        }
        #matched_nums li:hover{
            transform-origin:center !important;
        }
        .dropdown-results-body{
            overflow-x:auto;
            overflow-y:hidden;
        }
        #arrow, #arrow + span{
        -webkit-display: none;
        -moz-display: none;
        -ms-display: none;
        -o-display: none;
        display: none;
    }
    }   
  }
        /* =================================================================
        Width's of: 321px < n < 450
      ================================================================*/
      @media screen and (min-width: 20.063em) and (max-width: 28.125em){
        .table-row > .table-item-header{
          -moz-flex-basis: 100% !important;
          -ms-flex-basis: 100% !important;
          -o-flex-basis: 100% !important;
          flex-basis: 100% !important;
          margin-right: 0 !important;
          padding-right: 0 !important;
        }
      }
  }
  




  
/* ================================================================
    Medium Screens (Desktop)  -->  [580 < n > 959px]
   ================================================================ */
  @media screen and (min-width: 36.25em) and (max-width: 59.938em){
    .modal-content{
      height:33.313em;
    }
    #popup-window-three .modal-content{
      min-height: 43.313em !important;
    }
    .modal-dialog{
      width: 498px !important;
    }
    .table-row > .table-item-header, .table-item{
      -moz-flex-basis: 50%;
      -ms-flex-basis: 50%;
      -o-flex-basis: 50%;
      flex-basis: 50% !important;
    }
    .modal-body{
        height: 24.5em;
    }
    .table-row:first:child{
        vertical-align: center;
    }
    .table-row:first-child > .table-item-header, 
    .table-row:first-child > .table-item{
        font-size: 1em;
    }
    .table-row{
        margin-bottom: 0.5em;
    }
    .table-container{
        padding:1em;
        -moz-box-shadow:inset 0 0 2px #000000;
        -o-box-shadow:inset 0 0 2px #000000;
        -ms-box-shadow:inset 0 0 2px #000000;
        box-shadow:inset 0 0 2px #000000;
        -moz-flex-basis: 100%;
        -ms-flex-basis: 100%;
        -o-flex-basis: 100%;
        flex-basis: 100%;
        position: relative;
        z-index: 1;
        height: 14.75em;
    }
    .search-icon:focus + .insert-box{
      width: 60% !important;
    }
    .insert-box:focus{
      width:60% !important;
    }
    #modal-switch-txt{
        position: relative;
        left: -0.65em;
        top: 0.45em;
        padding: 0.5em 0 0.5em 0.5em;
        font-size: 1rem !important;
        width: 5em !important;
    }
    #modal-switch-btn{
      position: relative;
      font-size: 25px;
      top:0.9em;
      right: 0;
      width: 1.75em !important;
      height: 1.75em !important;
      padding: 0.6rem 0.625rem 0.625rem 0.625rem !important;
    }
    .modal-switch{
      position:absolute;
      bottom: 6.55em;
      left: 2.5em;
      width: 10em;
      z-index: 1;
    }
    
    .results-container{
        position: absolute;
        z-index: 1;
        bottom: 0.35em;
        right: 3em;
    }
    .results-box{
        font-size: 1rem !important;
        width: 10em;
        height: 5.5em !important;
        display: none;
        padding: 0.4em 0 0.75em 0.6em;
    }
    #click-txt{
      position: relative;
      top: 0.4em;
      left: 0.35em;
      width: 4em !important;
    }
    #website_nav{
      width: 1.75em !important;
      height: 1.75em !important;
      font-size: 25px;
      position: relative;
      top: -1.725em;
      left: 3.5em;
      padding: 0.6rem 0.625rem 0.625rem 0.625rem !important;
    }
    #modalOne-footer{
        position: relative;
        bottom: -0.75em;
    }
    .footer-btn-group, .searchbox-ctr{
        position:relative;
        bottom: -0.05em;
        right: 0.25em;
    }
    #suggestions{
        width: 60% !important;
        left: 2.5em;
        bottom: 1em;
        z-index:999;
    }
    #arrow, #arrow + span{
        -webkit-display: none;
        -moz-display: none;
        -ms-display: none;
        -o-display: none;
        display: none;
    }
    #matched_nums{
        position: relative;
        overflow-y:auto;
        overflow-x:hidden;
        top:1.5em;
        max-height: 11em;
        width: 150%;
        text-align: center;
        margin: auto;
    }
    #matched_nums li:hover{
        transform-origin:center;
    }
    .dropdown-results-body{
        overflow-x:auto;
        overflow-y:hidden;
    }
  }
/* ================================================================
    Larger Modern Desktops  -->  [ > 960 ]
   ================================================================ */
 
   @media screen and (min-width: 60em){
      
    .modal-dialog{
      max-width: 800px !important;
      height: auto !important;
    }
    .table-container{
      height: 15rem; /*Adjust When the info comes*/
    }
    .table-row > .table-item-header{
      -moz-flex-basis: 40% !important;
      -ms-flex-basis: 40% !important;
      -o-flex-basis: 40% !important;
      flex-basis: 40% !important;
    }
    .table-row > .table-item{
      -moz-flex-basis: 60%;
      -ms-flex-basis: 60%;
      -o-flex-basis: 60%;
      flex-basis: 60% !important;
    }
    .table-row:first:child{
        vertical-align: center;
    }
    .table-row:first-child > .table-item-header, 
    .table-row:first-child > .table-item{
        font-size: 1em;
    }
    .table-row{
        margin-bottom: 0.5em;
    }
    .table-container{
        padding:1em;
        -moz-box-shadow:inset 0 0 2px #000000;
        -o-box-shadow:inset 0 0 2px #000000;
        -ms-box-shadow:inset 0 0 2px #000000;
        box-shadow:inset 0 0 2px #000000;
        width: 65%;
    }
    #modal-switch-txt{
        width: 5em;
        font-size: 1.1rem !important;
        padding: 0.5em 0 0.5em 0.25em;
    }
    .modal-switch{
        position: absolute !important;
        left: 34.26em;
        top: 4.5em;
        z-index: 1;
        width: 13.45em !important;
        -o-transition-property: transform, box-shadow;
        -o-transition-duration: 200ms, 300ms;
        -o-transition-timing-function: ease-in-out;
        -ms-transition-property: transform, box-shadow;
        -ms-transition-duration: 200ms, 300ms;
        -ms-transition-timing-function: ease-in-out;
        transition-property: transform, box-shadow;
        transition-duration: 200ms, 300ms;
        transition-timing-function: ease-in-out;
    }
    .modal-switch:hover, .results-box:hover{
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
      transform: scale(1.02);
      -o-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important; 
      -ms-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important; 
      box-shadow: 0px 10px 13px -7px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important;
    }
    #modal-switch-btn{
      position: relative;
      top: 0.5em;
      right: -0.75em;
      padding: 0.35em 0.25em 0.25em 0.25em !important;
      font-size: 30px !important;
      height: 1.75em !important;
      width: 1.75em !important;
    }
    .results-container{
        font-size: 1.1rem !important;
        position: absolute;
        left: 31.6em;
        bottom: 1.25em;
    }
    .results-box{
        font-size: 1.1rem !important;
        -webkit-display:none;
        -moz-display: none;
        -ms-display: none;
        -o-display: none;
        display: none;
        width: 12.2em;        
        padding: 0.4em 0 0.75em 0.6em;
        height: 5.25em !important;
        -o-transition-property: transform, box-shadow;
        -o-transition-duration: 200ms, 300ms;
        -o-transition-timing-function: ease-in-out;
        -ms-transition-property: transform, box-shadow;
        -ms-transition-duration: 200ms, 300ms;
        -ms-transition-timing-function: ease-in-out;
        transition-property: transform, box-shadow;
        transition-duration: 200ms, 300ms;
        transition-timing-function: ease-in-out;
    }
    #website_nav{
      width: 1.75em !important;
      height: 1.75em !important;
      position: relative;
      top: -1.25em;
      right: -4.325em;
      font-size: 30px;
      padding: 0.35em 0.25em 0.25em 0.25em !important;
    }
    #click-txt{
      position: relative;
      top: 0.65em;
      width:6.5em !important;
      margin: 0.15em 0 0 0.5em;
    }
    #suggestions{
        width: 69.5% !important;
        right: 9.75em;
        bottom: 1.25em;
    }
    .basic-form, .modal-content{
        min-height: 21.7em !important;
    }
    #popup-window-three .modal-content{
      min-height: 41.7em !important;
    }
    #modalOne-footer{
        position: relative;
        bottom:-0.6em;
    }
    .footer-btn-group, .searchbox-ctr{
        position:relative;
        bottom: -0.1em;
    }
 
     /*==============================================
                        Second Modal
      ==============================================*/   
    
    
    
    #cross-ref-body{
        height: 17.7em !important;
        overflow: hidden;
    }
    #cross-ref-footer{
        position:relative;
        bottom:0.1em;
        padding-right: 0.5rem;
    }

    .card{
        position: relative;
        bottom: 4.8em;
        max-width: 50%;
        height: 14em !important;
        border: 2px;
        -o-box-shadow: 0px 7.5px 10px -5px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important; 
      -ms-box-shadow: 0px 7.5px 10px -5px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important; 
      box-shadow: 0px 7.5px 10px -5px #000000, 0px 7px 4px 2px rgba(0,0,0,0) !important;
    }
    #cross-ref-header{
        color:#740000;
        font-weight: 300;
        font-size: 1.1rem;
    }
    .spec-selectors{
        position: relative;
        right: 17.4em;
        top:2.1em;
    }
    #dropdown-nav-container{
        position: relative;
        top: 0.7em;
        max-height: 8.8em;
    }
    .dropdown-area{
        max-width:16.3em;
    }
    .dropdown-button{
        border: rgba(223, 223, 223, 0.8) solid 1.25px !important;
    }
    #matched_nums{
        position: relative;
        overflow-y:auto;
        overflow-x:hidden;
        top:0.5em;
        max-height: 9.5em;
        width: 150%;
        text-align: center;
        margin: auto;
    }
    #matched_nums li:hover{
        -ms-transform-origin: center;
        -o-transform-origin: center;
        transform-origin:center;
    }
    .dropdown-results-body{
        overflow-x:auto;
        overflow-y:hidden;
    }
  }


/*
*:hover{
  outline: solid 1px blue;
}*/
.modal-dialog-scrollable .modal-body{
  overflow-y: hidden;
}
input[type=text]{
  padding-bottom: 0.25em;
  font-size: 16px;
}

::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar{
  display: none;
}
::-ms-scrollbar{
  display: none;
}

@keyframes fade-in{
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}